/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    width: 100vw;
    height: 100vh;
    background-image: url(./img/1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 15px 0;
  }
  
  header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  header nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .hero {
    background-image: "url('https://via.placeholder.com/1200x400');
    background-size: cover;
    color: black;
    text-align: center;
    padding: 100px 100px;
  }
  
  .hero h1 {
    font-size: 3em;
    margin: 0;
  }
  
  section {
    padding: 60px 20px;
    text-align: center;
  }
  
  section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  section p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  footer ul li {
    display: inline;
    margin: 0 10px;
  }
  
  footer ul li a {
    color: white;
    text-decoration: none;
  }